# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Node modules
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Build output
dist/
build/
out/

# Environment variables
.env
.env.*
!.env.example

# OS metadata
.DS_Store
Thumbs.db

# Scraped data (If generated locally, optional to ignore)
# data/

# Optional eslint cache
.eslintcache

# Generated data & reports
report.md
